@inherits LayoutComponentBase

<div id="terminalContainer">
	<header>
		<p>The Open World Experiment</p>
	</header>

	<hr />

	<main>@Body</main>

	<hr />

	<footer>
		<p>Alexandre Pigeot, 2025</p>
	</footer>
</div>