@inherits LayoutComponentBase

<div id="terminal-container">
	<header>
		<p>Anyone Live: The Open World Experiment</p>
	</header>

	<hr />

	<main>
		@Body
	</main>

	<hr />

	<footer>
		<p>Alexandre Pigeot (2025)</p>
	</footer>
</div>